body {
  background-color: #f5f5f5;
}

.tip {
  font-size: 12px;
  color: red;
  margin-top: 6px;
  text-align: center;
  display: none;
}

input[type="text"], input[type="password"], .handle-section input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

input[type="text"], input[type="password"] {
  width: 90%;
}

.relative {
  position: relative;
}

.jwt {
  position: absolute;
  top: 50px;
  left: 0;
  color: #606266;
  cursor: pointer;
}

.input-show {
  margin-bottom: 5px;
}

.input-disabled {
  background-color: #f5f7fa !important;
  border-color: #e4e7ed !important;
  color: #c0c4cc !important;
  cursor: not-allowed;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #409EFF;
  border: 1px solid #409EFF;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 3px;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.button-small {
  padding: 9px 15px;
  border-radius: 20px;
}

.button-small2 {
  padding: 9px 15px;
  border-radius: 5px;
}

.button-disabled {
  background-color: #a0cfff;
  border-color: #a0cfff;
  cursor: not-allowed;
}

.logo {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.center1 {
  width: 90%;
  margin: 0 auto;
}

.center1 input[type="text"] {
  width: 100%;
}

.section {
  color: #333;
  margin: 8px 0;
}

.tip2 {
  color: #e53935;
  background: #fff;
  border-radius: 6px;
  font-size: 12px;
  padding: 8px;
  position: fixed;
  top: 8px;
  right: 8px;
}

.serverTip {
  color: #fff;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

select {
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.main-content {
  display: flex;
  justify-content: center;
}

.user-content, .yuv-content {
  overflow: hidden;
}

.user-content {
  width: 630px;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: left;
}

.width-200 {
  width: 200px;
}

.width-630 {
  width: 630px;
}

.input-width {
  width: 160px;
}

.handle-section {
  margin-bottom: 5px;
}

li {
  cursor: pointer;
  margin-bottom: 3px;
}

.canvas {
  display: inline-block;
  margin: 0 2px 5px 0;
  position: relative;
}

.canvas div {
  padding: 2px 6px;
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
}

.divider {
  background-color: #dcdfe6;
  position: relative;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.divider-text {
  position: absolute;
  background-color: #f5f5f5;
  padding: 0 20px;
  font-weight: 500;
  color: #303133;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}